<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth2-examples</title>
  </head>
  <body>
    <h1>OAuth2-examples</h1>
    <p>경북소프트웨어고 통합 로그인 시스템의 예제입니다.</p>
    
    {{{body}}}

  </body>
</html>